/* Sidebar */
.sidebar {
    width: 220px;
    background: linear-gradient(180deg, #d59c38 0%, #f8d485 100%);
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

.sidebar li {
    margin-bottom: 15px;
    padding: 12px 15px;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-size: 18px;
    color: #431b06;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(5px);
}

.sidebar li.active {
    background-color: rgba(255, 255, 255, 0.8);
}

.sidebar li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.logout-button {
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #431b06;
    color: #f8d485;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
    background-color: #5a2a0e;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.logo {
    font-size: 28px;
    font-weight: bold;
    color: #431b06;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    transform: rotate(-3deg);
    border: 2px dashed #431b06;
}