.sidebar {
    width: 220px;
    background: linear-gradient(180deg, #d59c38 0%, #f8d485 100%);
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

.sidebar li {
    margin-bottom: 15px;
    padding: 12px 15px;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-size: 18px;
    color: #431b06;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(5px);
}

.sidebar li.active {
    background-color: rgba(255, 255, 255, 0.8);
}

.sidebar li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.logout-button {
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #431b06;
    color: #f8d485;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
    background-color: #5a2a0e;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.logo {
    font-size: 28px;
    display: inline-block;
    padding: 6px 12px;
    /* smaller padding */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    transform: rotate(-3deg);
    border: 2px dashed #431b06;
    text-align: center;
    margin-bottom: 20px;
    max-width: 90%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

@media (max-width: 768px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        height: 100vh;
        width: 250px;
        background-color: #431b06;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        padding: 1rem 0;
        overflow: hidden
    }


    .sidebar.active {
        transform: translateX(0);
        /* Slide in from left */
    }

    .hamburgerchild {
        display: block;
        font-size: 28px;
        padding: 10px;
        cursor: pointer;
    }

    .sidebar * {
        margin-bottom: 10px;
        /* Make contents stack neatly */
    }

    .sidebar li {
        margin-bottom: 10px;
        padding: 8px 12px;
        /* smaller padding */
        border-radius: 10px;
        transition: all 0.3s ease;
        font-size: 16px;
        /* smaller font */
        color: #431b06;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: 10px;
        /* add left space */
        margin-right: 10px;
        /* add right space */
    }

}