.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("Frame%201171275867%20(1).png");
  background-size: cover;
  padding: 80px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-left: 300px;
  margin-top: -40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #d59c38;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-top: -40px;
}

/* Shared button style */
.auth-btn {
  background-color: #d59c38;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
